body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
}

form {
    width: 400px;
    margin: auto;
    padding: 20px;
    background: white;
    border-radius: 5px;
}

label {
    display: block;
    margin-top: 10px;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

button {
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
}

button:hover {
    background-color: #444;
}