body {
background-color: #cce5ff;
font-family: Arial, sans-serif;
padding: 30px;
}

h1 {
color: #003366;
text-align: center;
}

form {
background-color: #ffffff;
padding: 20px;
width: 500px;
margin: 0 auto;
}

label {
display: block;
font-weight: bold;
margin-top: 10px;
color: #003366;
}

input, textarea {
width: 100%;
padding: 8px;
margin-top: 4px;
border: 1px solid #003366;
box-sizing: border-box;
}

textarea {
height: 100px;
}

input[type=“submit”] {
background-color: #003366;
color: white;
margin-top: 15px;
cursor: pointer;
border: none;
}

button:hover {
    background-color: #444;

}
